.tableContainer{
  .spinner{
    text-align: center;
    margin-left: 40%;
  }
    margin-top: 2vw;
    table {
        width: 100%;
        padding: 2px;
      }
      
      th {
        text-align: left;
        background-color: #f9f9fb;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      tr{
        font-size: 1.2vw;
      }
      tr:hover{
        background-color: #eef3ff;
      }
}