<div class="tableContainer">
  <div class="spinner" *ngIf = "loading===true; else elseBlock">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #elseBlock>
    <table>
        <tr>
          <!-- <th><input type="checkbox" (click)="changeCheckStatus()"></th> -->
          <th>NAME</th>
          <th>MANUFACTURER</th>
          <th>MODEL</th>
          <th>FUEL</th>
          <th>COLOR</th>
          <th>PRICE</th>
          <th>CURRENCY</th>
          <th>CITY</th>
          <th>COUNTRY</th>
        </tr>
        <tr *ngFor="let item of tableData" [item] app-table-item-component [item] = "item" [checkAll] = "checkStatus" (delete) = "delete($event)"></tr>
      </table>
    </ng-template>
</div>