<h2 mat-dialog-title>Add a Vehicle</h2>

  
    <form class="carForm" [formGroup]="carForm">

        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
        <label for="manufacturer">Model</label>
        <input id="manufacturer" type="text" formControlName="manufacturer">
       
        <label for="model">Manufacturer</label>
        <input id="model" type="text" formControlName="model">
       
        <label for="fuel">Fuel</label>
        <input id="fuel" type="text" formControlName="fuel">

        <label for="colour">Colour</label>
        <input id="colour" type="text" formControlName="colour">

        <label for="price">Price</label>
        <input id="price" type="text" formControlName="price">

        <label for="currency">Currency</label>
        <input id="currency" type="text" formControlName="currency">

        <label for="city">City</label>
        <input id="city" type="text" formControlName="city">

        <label for="country">Country</label>
        <input id="country" type="text" formControlName="country">
        
        <div class="actionButtons">
            <button  type="submit"  class="mat-raised-button mat-primary"(click)="save()">+ Add Vehicle</button>
            <button class="mat-raised-button"(click)="close()">Close</button>
        </div>
      </form>
