
.carForm{
    overflow: visible;
    display: flex;
    flex-direction: column;
    label{
        padding: 5px;
    }

    .actionButtons{
        margin-top: 5px;
        button{
            margin: 5px;
        }
    }
}