.appContainer{
    padding: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal.hide{
    display: none;
}
.modal.show{
    background-color: white;
    width: 25%;
    height: 100vh;
    position:absolute;
    right: 0;
    top: 0;
    border: 1px solid red;
}

#mydialog{
    background-color: red;
}