<div class="appContainer">
  <app-header-component (selectedIcon) = "catchEvent($event)" (myClick)="openModel()"></app-header-component>
  <div *ngIf="tableSelected; else elseBlock">
    <app-table-component [refresh] = "refresh"></app-table-component>
  </div>
  <ng-template #elseBlock>
    <app-chart-component></app-chart-component>
  </ng-template>
</div>
<!-- <div #myModel class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title ">Add a vehicle</h5>
        <p>All fields are required</p>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" (click)="closeModel()">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
    </div>
  </div>
</div> -->
