<div class="headerContainer">
    <div class="main-title">Vehicle List</div>
    <div class="addVehicleButton">
       <button (click)="onMyClick()" > + Add Vehicle</button>
    </div>
    <div class="selectIcons">
        <button style="background-color: #d8ecff;" class="icon" #data (click)="selectData()"><mat-icon> format_align_justify</mat-icon></button>
        <button class="icon" #chart (click)="selectChart()"><mat-icon> show_chart</mat-icon></button>
    </div>
</div>