.headerContainer{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    .main-title{
        font-size: 1.7rem;
        font-weight: bold;
    }
    .addVehicleButton{
        margin-left: 2vw;
        button{
            cursor: pointer;
            background-color: #2960ec;
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
    }
    .selectIcons{
        margin-left: auto;
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        .icon{
            border-radius: 10px;
            overflow: hidden;
            border: none;
            padding: 5px;
            
        }
    }
}