<!-- <td><input type="checkbox"></td> -->
<td>{{item.name}}</td>
<td>{{item.manufacturer}}</td>
<td>{{item.model}}</td>
<td>{{item.fuel}}</td>
<td>{{item.color}}</td>
<td>{{item.price}}</td>
<td>{{item.currency}}</td>
<td>{{item.city}}</td>
<td>{{item.country}}</td>
<td class="delete-icon" (click)="deleteVehicle(item.id)"><mat-icon>delete_outline</mat-icon></td>