<div class="mainContainer">
    <div class="radio-buttons">
        <div (click) = "getParticularColumnData(3)" class="radio-button">
            <input type="radio" id="html" name="fav_language" value="HTML" checked>
            <label for="html">Manufacturer</label><br>
        </div>
        <div (click) = "getParticularColumnData(5)"  class="radio-button">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Fuel</label><br>
        </div>
        <div (click) = "getParticularColumnData(8)"  class="radio-button">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Currency</label><br>
        </div>
        <div (click) = "getParticularColumnData(10)" class="radio-button">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Country</label><br>
        </div>
    </div>
    <div *ngIf = "loading; else elseBlock">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #elseBlock>
        <div class="chart-container" *ngIf = "chartOptions">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
              ></apx-chart>
        </div>
    </ng-template>
    
</div>
